:root {
  --nature-white: #fff;
  --nature-black: #000;
  --light-bg: #fcfcfc;
  --statuses: #f3f3f3;
  --light-border: #ededed;
  --border: #dbdada;
  --grey: #878787;
  --placeholder: #a0b1a5;
  --black: #161616;
  --light-green: #edffef;
  --green: #168b6c;
  --accent-green: #1fb28b;
  --strong-green: #0f654e;
  --light-error: #ef837f;
  --red: #e95a54;
  --strong-error: #d3221b;
  --warning: #f1c219;
  --layout-header-sticky-top: 0px;
  --layout-sidebar-height: calc(100dvh - 60px);
}

/* BREAKPOINTS.MD */
@media (min-width: 768px) {
  :root {
    --layout-header-sticky-top: 30px;
  }
}
/* saved in root, because the project can have theme swither in futhure (for example)  */

@theme {
  --font-sans: "DM Sans", ui-sans-serif, system-ui, sans-serif;

  --radius-sm: 6px;
  --radius-md: 16px;
  --radius-lg: 30px;
  --radius-circle: 100px;

  --color-nature-white: var(--nature-white);
  --color-nature-black: var(--nature-black);
  --color-light-bg: var(--light-bg);
  --color-statuses: var(--statuses);
  --color-light-border: var(--light-border);
  --color-border: var(--border);
  --color-grey: var(--grey);
  --color-placeholder: var(--placeholder);
  --color-ui-black: var(--black);
  --color-light-green: var(--light-green);
  --color-green: var(--green);
  --color-accent-green: var(--accent-green);
  --color-strong-green: var(--strong-green);
  --color-light-error: var(--light-error);
  --color-red: var(--red);
  --color-strong-error: var(--strong-error);
  --color-warning: var(--warning);

  /* Breakpoints sync with src/common/constants/breakpoints.ts */
  --breakpoint-xs: 375px;
  --breakpoint-sm: 425px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1440px;
  --breakpoint-2xl: 2560px;

  --shadow-default: -4px 4px 10px 0px #0000001a;

  --shadow-block: 14px 17px 40px 4px #7db59314;
}
